.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


ul {
  list-style: none;
  border:1px solid red;
  margin:0;
  padding: 0;
}

li {
  padding: 1em;
  background-color:lightcoral;
}
li:nth-child(even){
  background-color: plum;
}

button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: red;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 700;
}
