@import './scss/vars';
@import './scss/form';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

*, *:after, *:before {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  margin: 0;
}
html {
  box-sizing: border-box;
}

body {
  background-color: $dark;
  color: $dark;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: $light;
  margin: 0 auto;
  
  h1 {
    color: $color3;
    font-size: 52px;
  }
}

.wrapper {
  min-height: 90vh;
  margin-bottom: -50px;
}
#to-do-list {
  p {
    color: $light;
  }
}

ul {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  color: $dark;;
  padding: 0;
}

li {
  color: $dark;
  padding: 15px;
  margin: 10px auto;
  display:flex;
  align-items: center;
  width:95%;
  border-radius: 20px;
  background-color:$color4;

  span {
    width:50%;
    text-transform: uppercase;
    text-align: left;
  }

  .buttons {
    width:50%;
    justify-self: flex-end;
  }
}

li:nth-child(even){
  background-color: $color1;
  color: $light;
}

.buttons {
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.hide {
  display: none;
}

.item {
  width: 50%;
  text-align: left;
}

button {
  width: 30px;
  height: 30px;
  border: 0;
  background-color: $dark;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 700;
  margin: 0 5px;

  .fa-trash-alt {
    color: #d23f3f;
    transition: all .5s ease-out;
    &:hover {
      color: lighten(#d23f3f, 20%);
      transform: rotate(180deg);
    }
  }

  .fa-check-circle {
    color: #0ca745;
    transition: all .5s ease-out;
    &:hover {
      transform: rotate(0deg) scale(1.4);
      color: lighten( #0ca745, 20%)
    }
    &:active {
      transform: rotate(0deg) scale(1.8);
    }
  }

  .fa-edit {
    color:  #1c69bb;
    transition: all .5s ease-out;
    &:hover {
      transform: rotate(0deg) scale(1.1);
      color: lighten(#1c69bb, 20%);
    }
  }

  .fa-save {
    color: rgb(12, 167, 69);
  }
  .fa-times {
    color: rgb(210, 63, 63);
  }
}

.clearAll {
  margin: 1em 0 2em 0;
  button.clear {
    border-radius: 20px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: $color3;
    transition: all .5s ease-out;
    &:hover {
      background-color: darken($color3, 20%);
    }
  }
}

footer {
  height: 10vh;
  font-size: 12px;
  padding: 2em 3em;
  text-align: center;
  color: white
}