@import './scss/vars';
@import './scss/form';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color1;
  color: $dark;
  font-family: 'Work Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color: $color2;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-size: 52px;
  }
}


ul {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  color: $dark;;
  padding: 0;
}

li {
  padding: 1em;
  display:flex;
  width:100%;
  background-color:$color4;

  span {
    width:50%;
    text-transform: uppercase;
    text-align: left;
  }

  .buttons {
    width:50%;
    justify-self: flex-end;
  }
}

li:nth-child(even){
  background-color: $color3;
}

.buttons {
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.hide {
  display: none;
}

.item {
  width: 50%;
  text-align: left;
}

button {
  width: 30px;
  height: 30px;
  border: 1px solid $dark;
  background-color: $dark;
  font-size: 14px;
  border-radius: 50%;
  font-weight: 700;
  margin: 0 5px;

  .fa-trash-alt {
    color: rgb(210, 63, 63);
    transition: all .5s ease-out;
    &:hover {
      transform: rotate(180deg);
    }
  }

  .fa-check-circle {
    color: rgb(12, 167, 69);
    &:hover {
      transform: rotate(0deg);
    }
  }

  .fa-edit {
    color:  rgb(28, 105, 187);
  }

  .fa-save {
    color: rgb(12, 167, 69);
  }
  .fa-times {
    color: rgb(210, 63, 63);
  }
}
