form.addtodo,
form.editItemForm {
  margin: 0 auto;
  padding: 1em;
  display:flex;
  width:100%;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;

  label {
    width:100%;
    display:block;
    padding: 20px 0;
    font-size: 20px;
  }

  input {
    background-color: $color4;
    font-size: 20px;
    width: 100%;
    padding: 0 12px;
    margin: 0;
    height: 70px;
  }
  
  .btn {
    border:0;
    background-color:$dark;
    font-size: 16px;
    color: white;
  }
}

form.editItemForm {
    width:100%;
    flex-direction: row;
  
    input {
      background-color: rgba(255, 255, 255, 0.5);
      border:1px solid;
      height: auto;
      width:100%;
    }
  }